advt.CMS/Connected Services/MESWebService/etl_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ETL_Rv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETL_RvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ETL_RvResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETL_Tx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ETL_TxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ETL_TxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Rv_Xml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWebServiceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Rv_XmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SFIS_Rv_XmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Rv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWebServiceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_RvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SFIS_RvResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Tx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWebServiceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_TxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SFIS_TxResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MMS_RV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWebServiceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MMS_RVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MMS_RVResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MMS_TX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sWebServiceType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MMS_TXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MMS_TXResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Tx_ALL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sParam" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SFIS_Tx_ALLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SFIS_Tx_ALLResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ETL_RvSoapIn">
    <wsdl:part name="parameters" element="tns:ETL_Rv" />
  </wsdl:message>
  <wsdl:message name="ETL_RvSoapOut">
    <wsdl:part name="parameters" element="tns:ETL_RvResponse" />
  </wsdl:message>
  <wsdl:message name="ETL_TxSoapIn">
    <wsdl:part name="parameters" element="tns:ETL_Tx" />
  </wsdl:message>
  <wsdl:message name="ETL_TxSoapOut">
    <wsdl:part name="parameters" element="tns:ETL_TxResponse" />
  </wsdl:message>
  <wsdl:message name="SFIS_Rv_XmlSoapIn">
    <wsdl:part name="parameters" element="tns:SFIS_Rv_Xml" />
  </wsdl:message>
  <wsdl:message name="SFIS_Rv_XmlSoapOut">
    <wsdl:part name="parameters" element="tns:SFIS_Rv_XmlResponse" />
  </wsdl:message>
  <wsdl:message name="SFIS_RvSoapIn">
    <wsdl:part name="parameters" element="tns:SFIS_Rv" />
  </wsdl:message>
  <wsdl:message name="SFIS_RvSoapOut">
    <wsdl:part name="parameters" element="tns:SFIS_RvResponse" />
  </wsdl:message>
  <wsdl:message name="SFIS_TxSoapIn">
    <wsdl:part name="parameters" element="tns:SFIS_Tx" />
  </wsdl:message>
  <wsdl:message name="SFIS_TxSoapOut">
    <wsdl:part name="parameters" element="tns:SFIS_TxResponse" />
  </wsdl:message>
  <wsdl:message name="MMS_RVSoapIn">
    <wsdl:part name="parameters" element="tns:MMS_RV" />
  </wsdl:message>
  <wsdl:message name="MMS_RVSoapOut">
    <wsdl:part name="parameters" element="tns:MMS_RVResponse" />
  </wsdl:message>
  <wsdl:message name="MMS_TXSoapIn">
    <wsdl:part name="parameters" element="tns:MMS_TX" />
  </wsdl:message>
  <wsdl:message name="MMS_TXSoapOut">
    <wsdl:part name="parameters" element="tns:MMS_TXResponse" />
  </wsdl:message>
  <wsdl:message name="SFIS_Tx_ALLSoapIn">
    <wsdl:part name="parameters" element="tns:SFIS_Tx_ALL" />
  </wsdl:message>
  <wsdl:message name="SFIS_Tx_ALLSoapOut">
    <wsdl:part name="parameters" element="tns:SFIS_Tx_ALLResponse" />
  </wsdl:message>
  <wsdl:portType name="ETL_ServiceSoap">
    <wsdl:operation name="ETL_Rv">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call ETL Service method, return records or error message.</wsdl:documentation>
      <wsdl:input message="tns:ETL_RvSoapIn" />
      <wsdl:output message="tns:ETL_RvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ETL_Tx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call ETL Service method in transaction, return OK or error message.</wsdl:documentation>
      <wsdl:input message="tns:ETL_TxSoapIn" />
      <wsdl:output message="tns:ETL_TxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv_Xml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call SFIS Service method by factory no or factory area, return records or error message.</wsdl:documentation>
      <wsdl:input message="tns:SFIS_Rv_XmlSoapIn" />
      <wsdl:output message="tns:SFIS_Rv_XmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call SFIS Service method by factory no or factory area, return records or error message.</wsdl:documentation>
      <wsdl:input message="tns:SFIS_RvSoapIn" />
      <wsdl:output message="tns:SFIS_RvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SFIS_Tx">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call SFIS Service method in transaction by factory no or factory area, return OK or error message.</wsdl:documentation>
      <wsdl:input message="tns:SFIS_TxSoapIn" />
      <wsdl:output message="tns:SFIS_TxSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MMS_RV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call MCS Service method by factory no or factory area, return records or error message.</wsdl:documentation>
      <wsdl:input message="tns:MMS_RVSoapIn" />
      <wsdl:output message="tns:MMS_RVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MMS_TX">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call MCS Service method in transaction by factory no or factory area, return OK or error message.</wsdl:documentation>
      <wsdl:input message="tns:MMS_TXSoapIn" />
      <wsdl:output message="tns:MMS_TXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SFIS_Tx_ALL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Call SFIS Service for stop user power.</wsdl:documentation>
      <wsdl:input message="tns:SFIS_Tx_ALLSoapIn" />
      <wsdl:output message="tns:SFIS_Tx_ALLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ETL_ServiceSoap" type="tns:ETL_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ETL_Rv">
      <soap:operation soapAction="http://tempuri.org/ETL_Rv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ETL_Tx">
      <soap:operation soapAction="http://tempuri.org/ETL_Tx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv_Xml">
      <soap:operation soapAction="http://tempuri.org/SFIS_Rv_Xml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv">
      <soap:operation soapAction="http://tempuri.org/SFIS_Rv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Tx">
      <soap:operation soapAction="http://tempuri.org/SFIS_Tx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MMS_RV">
      <soap:operation soapAction="http://tempuri.org/MMS_RV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MMS_TX">
      <soap:operation soapAction="http://tempuri.org/MMS_TX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Tx_ALL">
      <soap:operation soapAction="http://tempuri.org/SFIS_Tx_ALL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ETL_ServiceSoap12" type="tns:ETL_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ETL_Rv">
      <soap12:operation soapAction="http://tempuri.org/ETL_Rv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ETL_Tx">
      <soap12:operation soapAction="http://tempuri.org/ETL_Tx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv_Xml">
      <soap12:operation soapAction="http://tempuri.org/SFIS_Rv_Xml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Rv">
      <soap12:operation soapAction="http://tempuri.org/SFIS_Rv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Tx">
      <soap12:operation soapAction="http://tempuri.org/SFIS_Tx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MMS_RV">
      <soap12:operation soapAction="http://tempuri.org/MMS_RV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MMS_TX">
      <soap12:operation soapAction="http://tempuri.org/MMS_TX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SFIS_Tx_ALL">
      <soap12:operation soapAction="http://tempuri.org/SFIS_Tx_ALL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ETL_Service">
    <wsdl:port name="ETL_ServiceSoap" binding="tns:ETL_ServiceSoap">
      <soap:address location="http://172.21.203.166/etl_service/etl_service.asmx" />
    </wsdl:port>
    <wsdl:port name="ETL_ServiceSoap12" binding="tns:ETL_ServiceSoap12">
      <soap12:address location="http://172.21.203.166/etl_service/etl_service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>